<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Default.Host" value="http://localhost:9200"/>
		<add key="Default.IndexName" value="test"/>
		<add key="Default.TypeName" value="type1"/>
		<add key="Default.MaxThreads" value="16"/>
		<add key="Default.DataPath" value="Data/simple-example.json"/>
		<add key="Default.BatchSize" value="2000"/>
		<add key="Default.Shards" value="1"/>
		<add key="Default.Replicas" value="0"/>
		<add key="Default.RefreshInterval" value="-1"/>
    <add key="Index.Template.Delete" value="Data/index-delete-template.json"/>
    <add key="Index.Template.Settings" value="Data/index-settings-template.json"/>
	</appSettings>
</configuration>